<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="~{layout/Layout}">

<div layout:fragment="content">
<h2>Erro no servidor</h2>		
			Desculpe, algo muito estranho aconteceu e não conseguimos processar a sua requisição. 
			Tente de novo ou entre em contato com a gente se precisar de ajuda.
			<br/><br/>
<a href="javascript:history.back()" class="btn  btn-primary">Voltar para a página inicial</a>
</div>
</html>